html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

header h1 {
	margin: 0;
	width: 100%;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
	display: flex;
	justify-content: center;
}

header h1 span {
	color: #77a466;
	padding-right: 3px;
}


header nav ul {
	margin: 0;
	padding: 0;	
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px;
	display: inline;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;

}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	height: auto;
	border-top: 1px solid #eee;
	padding: 10px 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-flow: column wrap;
}

.menu, 
.reviews,
.address {
	margin-left: -30px;
}

.menu {
	list-style: none;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}





/*---------- TABLET ----------*/
@media (min-width: 768px) {
	.top-section,
	.bottom-section {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
}

	header span {
		padding-right: 3px;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.reviews, .address {
		padding-left: 60px;
	}

	.section-one h3 {
		padding: 10px 0 0 10px;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	
	.section-two h3,
	.section-three h3 {
		padding: 10px 30px;
	}
}


/*---------- MONITOR ----------*/
@media (min-width: 1200px) {
	header {
		width: 100%;
		border-bottom: 3px solid #77a466;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row nowrap;
		padding-top: 30px;
	}

	header h1 {
		border: none;
		display: flex;
		justify-content: flex-start;
	}

	header span {
		padding-right: 3px;
	}

	header nav ul {
		display: flex;
	}


	header nav ul li a{
		text-decoration: none;
		color:#77a466;
	}
	
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-two h3,
	.section-three h3 {
		padding: 10px 30px;
}
	
}
